# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# pycharm ide
.idea

# temp files
.~*#
scratch

# generate sphinx documentation
docs/_build/

# distribution / packaging
*.egg-info/
build/
dist/
